@page "/add"
@inject HttpClient Http
@using System.Text.Json;
@using System.Text;
@inject NavigationManager NavigationManager;

<PageTitle>Create New Student</PageTitle>

<h3 style="text-align: center;">Add New Student</h3>

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">

    <div class="mb-3 row" style="width: 500px;">
        <label for="firstName" class="col-sm-12 col-form-label">First Name</label>
        <div class="col-sm-10">
            <input type="text" @bind="FirstName" class="form-control" id="firstName">
        </div>
    </div>

    <div class="mb-3 row" style="width: 500px;">
        <label for="lastName" class="col-sm-12 col-form-label">Last Name</label>
        <div class="col-sm-10">
            <input type="text" @bind="LastName" class="form-control" id="lastName">
        </div>
    </div>

    <div class="mb-3 row" style="width: 500px;">
        <label for="programme" class="col-sm-12 col-form-label">Programme</label>
        <div class="col-sm-10">
            <input type="text" @bind="Programme" class="form-control" id="programme">
        </div>
    </div>

    <div class="mb-3 row" style="width: 500px;">
        <label for="userType" class="col-sm-12 col-form-label">User Role</label>
        <div class="col-sm-10">
            <select @bind="UserRole" class="form-select" id="userType" aria-label="Default select example">
                <option value="" disabled selected>Select a user type</option>
                <option value="Student">Student</option>
                <option value="Staff">Staff</option>
                <option value="Admin">Admin</option>
            </select>
        </div>
    </div>

    <div class="mb-3 row" style="width: 500px;">
        <label for="gender" class="col-sm-12 col-form-label">Gender</label>
        <div class="col-sm-10">
            <select @bind="Gender" class="form-select" id="gender" aria-label="Default select example">
                <option value="" disabled selected>Select gender</option>
                <option value="Male">Male</option>
                <option value="FeMale">Female</option>
            </select>
        </div>
    </div>

    <div class="mb-3 row" style="width: 500px;">
        <div class="col-sm-10">
            <button style="width: 400px;" @onclick="OnAddStudent" type="button" class="btn btn-success">Add
                Student</button>
        </div>
    </div>
</div>

@code {
    private string? FirstName { get; set; }
    private string? LastName { get; set; }
    private string? Programme { get; set; }
    private string? UserRole { get; set; }
    private string? Gender { get; set; }


    public class User
    {
        public string? firstName { get; set; }
        public string? lastName { get; set; }
        public string? programme { get; set; }
        public string? userRole { get; set; }
        public string? gender { get; set; }
    }

    private string postUrl = "http://localhost:5077/api/users";

    private async Task OnAddStudent()
    {
        var newUser = new User
        {
            firstName = FirstName,
            lastName = LastName,
            programme = Programme,
            userRole = UserRole,
            gender = Gender
        };

        try
        {
            var json = JsonSerializer.Serialize(newUser);
            var content = new StringContent(json, Encoding.UTF8, "application/json");

            var response = await Http.PostAsync(postUrl, content);

            if (response.IsSuccessStatusCode)
            {
                Console.WriteLine("Student added successfully.");
                NavigationManager.NavigateTo("/students");
            }
            else
            {
                Console.WriteLine($"Error adding student: {response.ReasonPhrase}");
            }
        }
        catch (Exception e)
        {
            Console.WriteLine($"Error creating new user: {e.Message}");
        }
    }


}
